---
layout: default
comments: true
---

<div class="home">

  <h1 class="page-heading">Categories</h1>

  <ul class="tag-box inline">
  {% assign tags_list = site.categories %}
    {% for tag in tags_list %}
      <a href="#{{ tag[0] }}"><li>
        {% for category in site.data.categories %}
          {% if tag[0] == category.slug %}
            {{ category.name }}
            {% break %}
          {% endif %}
        {% endfor %}
        <span>- {{ tag[1].size }}</span>
      </li></a>
    {% endfor %}
  {% assign tags_list = nil %}
  </ul>

  {% for tag in site.categories %}
    {% for category in site.data.categories %}
      {% if tag[0] == category.slug %}
        <h2 id="{{ category.slug }}">{{ category.name }}</h2>
        {% break %}
      {% endif %}
    {% endfor %}
    <ul class="post-list">
      {% assign pages_list = tag[1] %}
      {% for post in pages_list %}
        {% if post.title != null %}
          {% if group == null or group == post.group %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<span class="entry-date"></a>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}
              {% for subcategory in site.data.subcategories %}
                {% if post.subcategory == subcategory.slug %}
                  {{subcategory.name}}
                  {% break %}
                {% endif %}
              {% endfor %}
            </span>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% assign pages_list = nil %}
      {% assign group = nil %}
    </ul>
  {% endfor %}

  <p>Check out <a href="https://www.theofekfoundation.org">my website</a>!</p>
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>