/**
 * Site header
 */
.site-header {
    border-top: $header-border-top-size solid $grey-color-dark;
    border-bottom: $header-border-bottom-size solid $grey-color-light;
    min-height: $header-height;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-subtitle {
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: calc(#{$spacing-unit} / 2);
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: calc(#{$spacing-unit} / 2);
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: calc(#{$spacing-unit} / -2);
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: calc(#{$spacing-unit} / 2);
    padding-left: calc(#{$spacing-unit} / 2);
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 30px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

$toc-container-top: $header-total-height + $spacing-unit;
$toc-content-height: calc(100vh - 3 * #{$header-total-height});

$toc-transition-duration: 0.3s;

.toc-container {
    position: fixed;
    left: $spacing-unit;
    top: $toc-container-top;
    z-index: 100;

    .toc-icon {
        cursor: pointer;
        transition: background-color $icon-transition-duration ease,
            transform $icon-transition-duration ease;
        background-color: $background-color;
        border-radius: 50%; // Circular effect
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: 70px;
        height: 70px;
    
        &:hover {
            background-color: $brand-background-color;
            transform: scale($icon-hover-scale);
        }
    
        img {
            width: 50px;
            height: 50px;
            transition: filter $icon-transition-duration ease;
            filter: grayscale(100%);
        }
    
        &:hover img {
            filter: grayscale(0%); // Full color on hover
        }
    }
      
    .toc-content {
        visibility: hidden;
        opacity: 0;
        transform: translateX(-10px);
        transition: visibility 0s linear $toc-transition-duration, 
                    opacity $toc-transition-duration ease, 
                    transform $toc-transition-duration ease;
        position: absolute;

        left: calc(100% + #{$spacing-unit});
        top: -$spacing-unit;
        min-width: 150px;
        max-width: calc(80vw - 100% - 2 * #{$spacing-unit});
        max-height: $toc-content-height;
        white-space: nowrap;
        padding: $spacing-unit;
        background: $background-color;
        border-radius: $spacing-unit; // Soften the corners
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        color: $text-color;
        overflow-y: auto;
        z-index: 100;

        &::-webkit-scrollbar {
            display: none; // This hides the scrollbar in Webkit browsers
        }
        
        // Hides scrollbar for IE, Edge, and Firefox
        -ms-overflow-style: none;  // Internet Explorer and Edge
        scrollbar-width: none;

        ul {
            margin-bottom: 0;
        }
    }
    
    .toc-content.stay-open {
        visibility: visible;
        opacity: 1;
        transform: translateY(0); // Reset to original position
        transition-delay: 0s; // Reset delay so the TOC shows immediately
    }
}

.palm-toc {
    display: none;
}

@include media-query($on-palm) {
    .toc-container {
        display: none;
    }

    .palm-toc {
        display: block;
    }
}
